<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<br>
<mat-form-field>
  <input type="text" matInput [matAutocomplete]="auto" placeholder="Search">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of options" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<br>
<button mat-icon-button [matBadge]="notificationCount" matBadgePosition="above after">
  <mat-icon>notifications</mat-icon>
</button>

<br>
<button (click)="openBottomSheet()">Abrir Bottom Sheet</button>
<br>
<button mat-flat-button color="primary">Botón Flat</button>
<button mat-fab color="accent">
  <mat-icon>add</mat-icon>
</button>
<button mat-flat-button color="warn">Botón Flat con color "warn"</button>
<br>
<mat-button-toggle-group name="selectionMode" (change)="onToggleChange($event)">
  <mat-button-toggle value="option1">Opción 1</mat-button-toggle>
  <mat-button-toggle value="option2">Opción 2</mat-button-toggle>
</mat-button-toggle-group>
<hr>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <!-- Puedes agregar aquí una imagen que se mostrará como avatar -->
  
    </div>
    <mat-card-title>
      Título del Card
    </mat-card-title>
    <mat-card-subtitle>
      Subtítulo del Card
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="ruta_de_la_imagen.jpg" alt="Descripción de la imagen">
  <mat-card-content>
    Contenido del Card. Aquí puedes agregar texto, imágenes u otros elementos.
  </mat-card-content>
  <mat-card-actions>
    <!-- Aquí puedes agregar botones o acciones relacionadas con el Card -->
    <button mat-button>Botón 1</button>
    <button mat-button>Botón 2</button>
  </mat-card-actions>
</mat-card>
<br><hr>
<mat-card>
  <mat-card-content>
    <h2>Lista de Checkboxes</h2>
    <div *ngFor="let item of listItems">
      <mat-checkbox [(ngModel)]="item.checked">{{ item.name }}</mat-checkbox>
      <div *ngIf="item.subItems">
        <div *ngFor="let subItem of item.subItems">
          <mat-checkbox [(ngModel)]="subItem.checked">{{ subItem.name }}</mat-checkbox>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<br><hr>
<mat-chip-set>
  <mat-chip>Chip 1</mat-chip>
  <mat-chip>Chip 2</mat-chip>
  <mat-chip>Chip 3</mat-chip>
</mat-chip-set>
<mat-chip-listbox multiple aria-label="Fruits">
  <mat-chip-option>Apple</mat-chip-option>
  <mat-chip-option>Orange</mat-chip-option>
  <mat-chip-option>Banana</mat-chip-option>
</mat-chip-listbox>
<mat-chip>
  <img matChipAvatar src="avatar.jpg" alt="Avatar">
  Avatar Chip
  <button matChipRemove aria-label="Remove avatar" (click)="removeChip()">×</button>
</mat-chip>
<br><hr>
<mat-form-field>
  <mat-label>Elige una fecha</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<br><hr>
<div>
  <h1>My Datepicker</h1>
  <input type="text" bsDatepicker>
</div>
